/* You can add global styles to this file, and also import other style files */
body
  font-family: 'Inter var', sans-serif
  font-feature-settings: "cv02", "cv03", "cv04", "cv11"
  font-variation-settings: normal

